.logo{margin-top:3px;float:left;margin-left:5%;z-index:1;}
.aramacubuk{position:relaitive;float:right;margin:10px;}
#cubuk{background:url(../img/s2.png) no-repeat left center;background-position:right right;background-color:#191919;color:snow;width:150px;padding:6px 0px 5px 35px;transition:500ms all ease;border:0px solid #333;border-radius:1em;}
#cubuk:hover{box-shadow:12px 13px 0px rgba(204, 211, 51, 0.38),
-11px -14px 0px rgba(241, 96, 0, 0.28),
18px -24px 0px rgba(0, 0, 0, 0.34),
33px -6px 0px rgba(39, 74, 214, 0.28);}
#buton{margin:0px 0px 0px 0px;transition:500ms all ease;width:50px;font-family:"open sans condensed";font-size:18px;height:26px;border:0px solid white;background-color:#0066FF;border-radius:1em;}
input[type='submit']:hover{cursor:pointer;background-color:#000000;color:#fff;}
#menu{z-index:1;overflow:hidden;position:absolute;margin-top:0px;border-bottom:solid 2px black;box-sizing:border-box;box-shadow:0px 10px 10px black;height:50px;width:100%;background-color:snow;}
.menu ul{margin:6px 230px;}
.menu ul li{list-style:none;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-family:"open sans condensed";font-size:20px;float:left;color:black;margin-left:10px;}
.menu ul li a{display:block;color:black;text-decoration:none;}
.menu li:nth-child(1) a{transition-duration:0.3s;padding:5px;border-bottom:5px solid #008B8B;}
.menu li:nth-child(2) a{transition-duration:0.3s;padding:5px;border-bottom:5px solid #006400;}
.menu li:nth-child(3) a{transition-duration:0.3s;padding:5px;border-bottom:5px solid #FF8C00;}
.menu li:nth-child(4) a{transition-duration:0.3s;padding:5px;border-bottom:5px solid #8FBC8F;}
.menu li:nth-child(5) a{transition-duration:0.3s;padding:5px;border-bottom:5px solid #1E90FF;}
.menu li:nth-child(6) a{transition-duration:0.3s;padding:5px;border-bottom:5px solid #7CFC00;}
.menu li:nth-child(7) a{transition-duration:0.3s;padding:5px;background-color:#ADD8E6;border-bottom:5px solid #ADD8E6;}
.menu ul li a:hover{margin-top:5px;color:#0066FF;cursor:pointer;text-shadow:5px 5px 13px purple;}
.responsive_menu{width:50px;height:50px;display:none;float:left;position:relaitive;margin-left:10px;}
@media (max-width:800px){#menu{overflow:visible;}
.responsive_menu{display:block;}
.menu ul{display:none;margin:5px 60px;background-color:snow}
.menu ul li{float:none}
.menu ul li a{border-right:none;border-bottom:1px solid #555;}
.logo{display:none;}
}
@media (min-width:800px){.menu ul{display:block!important}
}
@media (min-width:1400px){#menu{width:1400px;}
}