.yan_test_modulu {
margin-top:10px;
margin-left:900px;
font-family:"open sans condensed" ;
overflow:hidden;
position:relaitive;
width:27%;
box-sizing:border-box;
-webkit-box-sizing:border-box;
border:1px solid #ddd;
border-bottom-left-radius:1em;
border-bottom-right-radius:1em;
}
.yan_test_modulu  h3:hover{
color:blue;
font-weight:bold;
text-shadow:10px 10px 10px black;
}
.yanbaslik_test{
background-color:#ddd;
background-image:url(../../img/quiz.png);
background-repeat:no-repeat;
text-align:center;
font-size:25px;
border-bottom:1px inset #ddd;
margin:0px;   
line-height:5px;
padding:20px;
padding-left:45px;
overflow:auto;
background-position:10px;
font-weight:lighter;
background-size:15% 90%;
}
@media (max-width:1000px){
.yanbaslik_test{
display:none;
}
#yan_test_modulu {
display:none;
}

}